*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  color: hsl(217deg, 12%, 63%);
  background-color: hsl(216deg, 12%, 8%);
}

a {
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
  font-weight: normal;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
a:hover {
  color: hsl(25deg, 97%, 53%);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.component__evaluation {
  display: block;
  min-height: 360px;
  max-width: 328px;
  padding: 1.6em 1.6em 2.1em;
  background-color: hsl(213deg, 19%, 18%);
  border-radius: 1em;
}
.component__evaluation-circle-star {
  padding: 0.8em;
  background-color: hsla(216deg, 12%, 54%, 0.2);
  border-radius: 50%;
}
.component__evaluation-headline {
  margin: 1em 0;
  color: hsl(0deg, 0%, 100%);
  font-size: 2.2rem;
}
.component__evaluation-text {
  margin-bottom: 2.1em;
  font-size: 1.4rem;
  line-height: 1.5em;
}
.component__evaluation-numbers {
  margin-bottom: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.component__evaluation-circle {
  width: 40px;
  height: 40px;
  color: hsl(217deg, 12%, 63%);
  background-color: hsla(216deg, 12%, 54%, 0.2);
  border: none;
  border-radius: 50%;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.component__evaluation-circle:hover {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(25deg, 97%, 53%);
}
.component__evaluation-circle--selected {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(217deg, 12%, 63%);
}
.component__evaluation-circle input[type=radio] {
  display: none;
}
.component__evaluation-submit {
  padding: 1em;
  border: none;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(25deg, 97%, 53%);
  font-weight: bold;
  border-radius: 2em;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.component__evaluation-submit:hover {
  color: hsl(25deg, 97%, 53%);
  background-color: hsl(0deg, 0%, 100%);
}
.component__thankyou {
  display: none;
  min-height: 360px;
  max-width: 328px;
  padding: 2.2em 1.6em 2.8em;
  background-color: hsl(213deg, 19%, 18%);
  text-align: center;
  border-radius: 1em;
}
.component__thankyou-icon {
  display: block;
  margin-bottom: 1.6em;
  text-align: center;
}
.component__thankyou-illustration {
  height: 98px;
}
.component__thankyou-about {
  margin-bottom: 2.1em;
}
.component__thankyou-about-round {
  padding: 0.3em 0.9em;
  color: hsl(25deg, 97%, 53%);
  background-color: hsla(216deg, 12%, 54%, 0.2);
  border-radius: 1em;
}
.component__thankyou-heading {
  margin-bottom: 1em;
  color: hsl(0deg, 0%, 100%);
}
.component__thankyou-text {
  font-size: 1.4rem;
  line-height: 1.5em;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 0.7em 0.5em;
}
.footer__attribution {
  font-size: 1.2rem;
  font-weight: normal;
}

.fade-out {
  -webkit-animation: fade-out 0.4s;
          animation: fade-out 0.4s;
}

.fade-in {
  -webkit-animation: fade-in 0.4s;
          animation: fade-in 0.4s;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 992px) {
  .component__evaluation {
    min-height: 415px;
    min-width: 411px;
    padding: 2.1em;
  }
  .component__evaluation-circle-star {
    padding: 1.1em;
  }
  .component__evaluation-headline {
    margin: 1.6em 0 1em;
    font-size: 2.3rem;
    font-weight: 700;
  }
  .component__evaluation-text {
    margin-bottom: 2.3em;
    font-size: 1.5rem;
  }
  .component__evaluation-numbers {
    margin-bottom: 2em;
  }
  .component__evaluation-circle {
    width: 50px;
    height: 50px;
    font-weight: bold;
  }
  .component__evaluation-submit {
    padding: 1.1em 1em;
  }
  .component__thankyou {
    min-height: 415px;
    min-width: 411px;
    padding: 2.9em 2.2em;
  }
  .component__thankyou-icon {
    margin-bottom: 2em;
  }
  .component__thankyou-about {
    margin-bottom: 2.7em;
  }
  .component__thankyou-about-round {
    padding: 0.4em 0.9em;
  }
  .component__thankyou-heading {
    margin-bottom: 1em;
  }
  .component__thankyou-text {
    font-size: 1.5rem;
    line-height: 1.6em;
    width: 99%;
  }
}/*# sourceMappingURL=style.css.map */