@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Overpass', sans-serif;
	font-size: 1.5rem;
	color: $light-grey;
	background-color: $very-dark-blue;
}

a {
	color: $white;
	text-decoration: none;
	font-weight: normal;
	transition: color 0.3s ease-in;

	&:hover {
		color: $orange;
	}
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.component {
	min-height: 360px;
	// width: 85%;
	max-width: 328px;
	padding: 1.6em 1.6em 2.1em;
	background-color: $dark-blue;
	border-radius: 1em;

	&__evaluation-icon {
		display: block;
	}

	&__evaluation-circle-star {
		padding: 0.8em;
		background-color: $medium-grey;
		border-radius: 50%;
	}

	&__evaluation-headline {
		margin: 1em 0;
		color: $white;
		font-size: 2.2rem;
	}

	&__evaluation-text {
		margin-bottom: 2.1em;
		font-size: 1.4rem;
		line-height: 1.5em;
	}

	&__evaluation-numbers {
		margin-bottom: 1.6em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__evaluation-circle {
		width: 40px;
		height: 40px;
		color: $light-grey;
		background-color: $medium-grey;
		border: none;
		border-radius: 50%;
		transition: color 0.3s, background-color 0.3s;
		cursor: pointer;

		&:hover {
			color: $white;
			background-color: $orange;
		}

		&--selected {
			color: $white;
			background-color: $light-grey;
		}

		input[type='radio'] {
			display: none;
		}
	}

	&__evaluation-submit {
		padding: 1em;
		border: none;
		width: 100%;
		text-transform: uppercase;
		letter-spacing: 0.5em;
		color: $white;
		background-color: $orange;
		font-weight: bold;
		border-radius: 2em;
		transition: color 0.3s, background-color 0.3s;
		cursor: pointer;

		&:hover {
			color: $orange;
			background-color: $white;
		}
	}

	&__thankyou {
		display: none;
	}
}

.footer {
	position: fixed;
	bottom: 0;
	padding: 0.7em 0.5em;

	&__attribution {
		font-size: 1.2rem;
		font-weight: normal;
	}
}
